*.sdf
*.suo
*.opensdf
*.opendb
*.bak
*.aps
*.VC.db
*.log
/bin/
/bin32/
/lib/
/Magnesium/x64/
/Magnesium/Win32/
/examples/Testbed/x64/
/examples/Testbed/Win32/
/examples/LD34/x64/
/examples/LD34/Win32/
/media/
/.vs/